<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

iOrienteering Landing



<p class="text-center">Not Registered?</p>


    <div class="row">
        <div class="col-lg-6 col-md-6">
    <p class="text-center"><a href="{% url 'register_user_competitor'%}">Register as a Competitor</a></p>

        </div>

    <div class="col-lg-6 col-md-6">
    <p class="text-center"><a href="{% url 'register_user_organiser'%}">Register as a Organiser</a></p>

        </div>
    </div>

<p class="text-center"><a href="{% url 'login_user'%}">Already Registered?</a></p>


</body>
</html>