.panel-body {
  padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.eod-entry-field {
  padding-left: 2px;
    padding-right: 2px;

}

.form-control{

    padding-left: 3px;
    padding-right: 3px;

}

.eod-entry-btn{

    margin-top: 20px;


}

