/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */



IMG.centered {
    display: block;
    margin-left: auto;
    margin-right: auto

}
