h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
/* -----------------------------------------
   Template helpers
----------------------------------------- */
/* ------------------ Sizes --------------------*/
.s12 {
  font-size: 12px !important;
}
.s16 {
  font-size: 16px !important;
}
.s20 {
  font-size: 20px !important;
}
.s24 {
  font-size: 24px !important;
}
.s32 {
  font-size: 32px !important;
}
.s64 {
  font-size: 64px !important;
}
.vat {
  vertical-align: top !important;
}
.vam {
  vertical-align: middle !important;
}
.vab {
  vertical-align: bottom !important;
}
/* ------------------ Margins --------------------*/
.row.no-padding {
  margin-left: 0;
  margin-right: 0;
}
.row.no-padding [class^="col-"] {
  padding: 0;
}
.m0 {
  margin: 0 !important;
}
.m5 {
  margin: 5px !important;
}
.m10 {
  margin: 10px !important;
}
.m15 {
  margin: 15px !important;
}
.m20 {
  margin: 20px !important;
}
.m25 {
  margin: 25px !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.ml0 {
  margin-left: 0 !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml25 {
  margin-left: 25px !important;
}
/* ------------------ Paddings --------------------*/
.p0 {
  padding: 0 !important;
}
.p5 {
  padding: 5px !important;
}
.p10 {
  padding: 10px !important;
}
.p15 {
  padding: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.p25 {
  padding: 25px !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl25 {
  padding-left: 25px !important;
}
/* ------------------ Percent widths --------------------*/
.per5 {
  width: 5% !important;
}
.per10 {
  width: 10% !important;
}
.per15 {
  width: 15% !important;
}
.per20 {
  width: 20% !important;
}
.per25 {
  width: 25% !important;
}
.per30 {
  width: 30% !important;
}
.per35 {
  width: 35% !important;
}
.per40 {
  width: 40% !important;
}
.per45 {
  width: 45% !important;
}
.per50 {
  width: 50% !important;
}
.per55 {
  width: 55% !important;
}
.per60 {
  width: 60% !important;
}
.per65 {
  width: 65% !important;
}
.per70 {
  width: 70% !important;
}
.per75 {
  width: 75% !important;
}
.per80 {
  width: 80% !important;
}
.per85 {
  width: 85% !important;
}
.per90 {
  width: 90% !important;
}
.per95 {
  width: 95% !important;
}
.per100 {
  width: 100% !important;
}
/* ------------------ Borders --------------------*/
.b {
  border: 1px solid #e7e7e2;
}
.bt {
  border-top: 1px solid #e7e7e2;
}
.br {
  border-right: 1px solid #e7e7e2;
}
.bb {
  border-bottom: 1px solid #e7e7e2;
}
.bl {
  border-left: 1px solid #e7e7e2;
}
.btlr {
  border-top-left-radius: 4px;
}
.btrr {
  border-top-right-radius: 4px;
}
.bblr {
  border-bottom-left-radius: 4px;
}
.bbrr {
  border-bottom-right-radius: 4px;
}
.brall {
  border-radius: 4px;
}
.bn {
  border: none !important;
}
/* ------------------ Colors --------------------*/
.color-red {
  color: #f68484 !important;
}
.color-blue {
  color: #75b9e6 !important;
}
.color-green {
  color: #71d398 !important;
}
.color-yellow {
  color: #ffcc66 !important;
}
.color-orange {
  color: #f4b162 !important;
}
.color-white {
  color: #ffffff !important;
}
.color-teal {
  color: #97d3c5 !important;
}
.color-dark {
  color: #79859b !important;
}
.color-pink {
  color: #f78db8 !important;
}
.color-lime {
  color: #a8db43 !important;
}
.color-magenta {
  color: #e65097 !important;
}
.color-purple {
  color: #af91e1 !important;
}
.color-brown {
  color: #d1b993 !important;
}
.color-gray {
  color: #555555 !important;
}
.color-grayspr {
  color: #f3f5f6 !important;
}
/* ------------------ Backgrounds --------------------*/
.white-bg {
  color: #768399;
  background-color: #ffffff;
}
.red-bg {
  color: #ffffff;
  background-color: #f68484;
}
.blue-bg {
  color: #ffffff;
  background-color: #75b9e6;
}
.green-bg {
  color: #ffffff;
  background-color: #71d398;
}
.yellow-bg {
  color: #ffffff;
  background-color: #ffcc66;
}
.orange-bg {
  color: #ffffff;
  background-color: #f4b162;
}
.purple-bg {
  color: #ffffff;
  background-color: #af91e1;
}
.pink-bg {
  color: #ffffff;
  background-color: #f78db8;
}
.lime-bg {
  color: #ffffff;
  background-color: #a8db43;
}
.magenta-bg {
  color: #ffffff;
  background-color: #e65097;
}
.teal-bg {
  color: #ffffff;
  background-color: #97d3c5;
}
.brown-bg {
  color: #ffffff;
  background-color: #d1b993;
}
.gray-bg {
  color: #768399;
  background-color: #e4e9eb;
}
.dark-bg {
  color: #ffffff;
  background-color: #79859b;
}
/* ------------------ Opacity --------------------*/
.opacity {
  opacity: 1 !important;
}
.opacity0 {
  opacity: 0 !important;
}
/* ------------------ Typo --------------------*/
.strong {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.normal {
  font-weight: normal;
}
/* ------------------ Contextual colors --------------------*/
.text-muted {
  color: #999999;
}
.text-primary {
  color: #75b9e6;
}
a.text-primary:hover {
  color: #4aa3de;
}
.text-success {
  color: #71d398;
}
a.text-success:hover {
  color: #4ac77c;
}
.text-info {
  color: #97d3c5;
}
a.text-info:hover {
  color: #73c4b1;
}
.text-warning {
  color: #f4b162;
}
a.text-warning:hover {
  color: #f19932;
}
.text-danger {
  color: #f68484;
}
a.text-danger:hover {
  color: #f35454;
}
.text-yellow {
  color: #ffcc66;
}
a.text-yellow:hover {
  color: #ffbb33;
}
.text-orange {
  color: #f4b162;
}
a.text-orange:hover {
  color: #f19932;
}
.text-dark {
  color: #79859b;
}
a.text-dark:hover {
  color: #606c81;
}
.text-brown {
  color: #d1b993;
}
a.text-brown:hover {
  color: #c2a26f;
}
.text-pink {
  color: #f78db8;
}
a.text-pink:hover {
  color: #f45d9a;
}
.text-magenta {
  color: #e65097;
}
a.text-magenta:hover {
  color: #e0237c;
}
.text-lime {
  color: #a8db43;
}
a.text-lime:hover {
  color: #90c526;
}
/* ------------------ Positions --------------------*/
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/* -----------------------------------------
  Animate.css less file
----------------------------------------- */

/* -----------------------------------------
   Landing page
----------------------------------------- */
/* ------------------ Landing intro --------------------*/
.landing-intro {
  margin: 0;
  position: relative;
  /*background: url(../img/landing/1000m.jpg);*/
  background: #75b9e6;
  background-size: cover !important;
  /*Header*/
  /*Intro slogan*/
}
.landing-intro .header {
  padding: 15px 0;
  border-bottom: 1px solid #f3f5f6;
  /*Logo*/
  /*Navigation*/
}
.landing-intro .header .logo:before,
.landing-intro .header .logo:after {
  content: " ";
  display: table;
}
.landing-intro .header .logo:after {
  clear: both;
}
.landing-intro .header .logo img {
  float: left;
}
.landing-intro .header .logo .slogan {
  color: #ffffff;
  font-weight: bold;
  float: left;
  border-left: 1px solid #f3f5f6;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}
.landing-intro .header nav {
  float: right;
  list-style: none;
  padding: 8px 0;
}
.landing-intro .header nav li {
  display: inline-block;
  margin-right: 10px;
}
.landing-intro .header nav li:last-child {
  margin-right: 0;
}
.landing-intro .intro-slogan {
  text-shadow: 0 1px 5px rgba(0, 1, 0, 0.3);
  color: #ffffff;
}
.landing-intro .intro-slogan h1 {
  text-transform: uppercase;
  font-size: 42px;
  margin-bottom: 25px;
  margin-top: 35px;
}
.landing-intro .intro-slogan h1 strong {
  text-decoration: underline;
}
.landing-intro .intro-slogan p {
  font-size: 24px;
}
.landing-intro .description-bar {
  background: rgba(0, 0, 0, 0.35);
  height: 180px;
}
.landing-intro .description-bar p {
  padding: 0 25px;
  font-weight: normal;
  font-size: 24px;
  color: #ffffff;
  line-height: 40px;
  display: table-cell;
  height: 145px;
  vertical-align: middle;
}
/* ------------------ Scroll to next section --------------------*/
.scrollTo {
  display: block;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -28px;
  /*bouncearrow animation*/
}
.scrollTo img {
  animation: bouncearrow 1s infinite;
  -moz-animation: bouncearrow 1s infinite;
  /* Firefox */
  -webkit-animation: bouncearrow 1s infinite;
  /* Safari and Chrome */
  -o-animation: bouncearrow 1s infinite;
  /* Opera */
}
@keyframes bouncearrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-webkit-keyframes bouncearrow {
  /* Safari and Chrome */
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
/* ------------------ Headers --------------------*/
h3.section-header {
  font-weight: bold;
  font-size: 24px;
  color: #69768d;
  line-height: 1;
  margin: 15px 0 15px;
}
h3.section-header-1 {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 1px solid #f3f5f6;
  padding: 0 0 15px;
  margin: 20px 0 50px;
}
/* ------------------ Hide elements before animations --------------------*/
.logos,
.clean-code .col-md-8,
.clean-code .col-md-4,
.charts .col-md-8,
.charts .col-md-4,
.email-app .col-md-8,
.email-app .col-md-4 {
  opacity: 0;
}
/* ------------------ Section features --------------------*/
.section-features {
  /*Features row*/
}
.section-features .features-row {
  margin-top: 0;
  padding: 20px 0;
}
/* ------------------ Testimonials --------------------*/
.testimonials {
  padding: 25px 0;
  position: relative;
}
.testimonials .testimonials-block {
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.testimonials .testimonials-block .testimonials-text {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 4px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  position: relative;
  line-height: 28px;
  font-size: 16px;
}
.testimonials .testimonials-block .testimonials-text:after {
  top: 100%;
  left: 20%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}
.testimonials .testimonials-block .testimonials-client {
  margin-top: 30px;
  margin-left: 10px;
}
.testimonials .testimonials-block .testimonials-client img {
  float: left;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
.testimonials .testimonials-block .testimonials-client p {
  padding-left: 80px;
  padding-top: 13px;
}
/* ------------------ Give a try --------------------*/
.give-a-try {
  padding: 60px 15px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-image: url(../img/landing/footer-cover.jpg);
  background-size: cover;
}
.give-a-try h1 {
  font-weight: normal;
  font-size: 48px;
}
.give-a-try p {
  font-size: 32px;
}
/* ------------------ Footer --------------------*/
#footer .footer-links {
  text-align: center;
}
#footer .footer-links a {
  text-align: center;
  padding: 0 15px;
  display: inline-block;
  padding-bottom: 15px;
}
/* -----------------------------------------
   Responsive media queries for landing page
----------------------------------------- */
@media all and (max-width: 990px) {
  .landing-intro .header .logo img {
    float: none;
    margin-bottom: 10px;
  }
  .landing-intro .header nav {
    float: none;
    text-align: center;
  }
  .testimonials .testimonials-block {
    margin-bottom: 25px;
  }
}
@media all and (max-width: 660px) {
  .landing-intro .description-bar {
    height: 200px;
  }
  .logos img {
    margin-bottom: 25px;
  }
}
@media all and (max-width: 480px) {
  .landing-intro .description-bar {
    font-size: 18px;
    line-height: 30px;
  }
  .landing-intro .header nav li {
    margin-bottom: 10px;
  }
}
