

{% extends "competitor/base/competitor_home_base.html" %}


{% block page_title %}Welcome {% if this_user_profile.firstname %} {{ this_user_profile.firstname }} {% else %}{{ this_user.username }} {% endif %} {% endblock %}

{% block content %}




<div class="row">

<div class="col-lg-7 col-md-7">
                            <!-- col-lg-6 start here -->

                            <div class="panel panel-dark">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">Courses</h4>
<div class="panel-heading-content" style="float: right">

    {% if can_create_course %}<a href="{% url 'new_course' area_pk=this_area.id %}" class="btn btn-default btn-xs" style="float: right">New Course</a>{% else %}<button disabled="disabled" class="btn btn-default btn-xs" style="float: right">Add checkpoints to create course</button>{% endif %}

                                    </div>
                                </div>
                                <div class="panel-body">

                                    <div class="slimscroll_sm_panel">

                                    <table class="table table-striped" id="course_table" width="100%">

                                        <thead>
                                        <tr>

                                            <th class="per30">
                                                Area
                                            </th>

                                            <th class="per30">
                                                Name
                                            </th>

                                            <th class="per10">
                                                Completed
                                            </th>

                                            <th class="per10">


                                            </th>



                                        </tr>
                                        </thead>
{% for cc in course_competitors %}
                                            <tr>
                                                <td>
                                                    {{ cc.area.area_name }}
                                                </td>

                                                <td>
                                                    {{ cc.course.course_name }}
                                                </td>

<td>
                                                    {% if cc.competed %}<i class="fa-ok-sign"></i>{% endif %}
                                                </td>


                                                <td> <a href="{% url 'public_area_home' area_pk=cc.area.id%}">
                                                    <button type="button" class="btn btn-xs btn-green">View</button>
                                                </a></td>


                                            </tr>
                                        {% endfor %}


                                        </tbody>


                                    </table>

</div>
                                </div>
                            </div>

</div>

<div class="col-lg-5 col-md-5">

<div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-6 col-md-6">
                            <!-- col-lg-6 start here -->

<div class="tile-stats b brall mb25 blue-bg">
                                <a href="{% url 'credit' %}">
                                    <div class="tile-stats-icon"><i class="fa-map color-white" ></i>
                                    </div>
                                    <div class="tile-stats-content">

                                        <div class="tile-stats-number color-white">£ {{ this_user_profile.display_credit }}</div>
                                                     <div class="tile-stats-text color-white">Credit</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                            <!-- End .panel -->
                        </div>

<div class="col-lg-6 col-md-6">
                            <!-- col-lg-6 start here -->

<div class="tile-stats b brall mb25 green-bg">
                                <a href="{% url 'competitor_maps' %}">
                                    <div class="tile-stats-icon"><i class="fa-map color-white" ></i>
                                    </div>
                                    <div class="tile-stats-content">

                                        <div class="tile-stats-number color-white">{{ this_user.maps_counter }}</div>

                                        <div class="tile-stats-text color-white">Maps</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                            <!-- End .panel -->
                        </div>

</div>

<div class="col-lg-12 col-md-12">
                            <!-- col-lg-6 start here -->

                            <div class="panel panel-info">
                                <!-- Start .panel -->
                                <div class="panel-heading" >
                                    <h2 class="panel-title">Messages</h2>

                                </div>

                                <div class="panel-body">

                                    <div class="slimscroll_sm_panel">





</div>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>

</div>


</div>

    <div class="row">
                        <!-- Start .row -->




</div>


{% endblock %}

{% block plugins %}

    {% load staticfiles %}

<script language="javascript"> var AREA_PK= "{{ this_area.id|escapejs }}";</script>

<script src="{% static 'website/assets/js/my_pages/main_area_screen_js.js' %}"></script>




{% endblock %}