<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iOrienteering.  Timing and organisation for permanent Orienteering courses">
    <meta name="keywords" content="Orienteering.  Permanent. Timing.  Organisation">
    <title>iOrienteering | Organiser Portal</title>
    <!-- Site favicon -->
    {#<link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />#}

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css"/>
    <!-- /site favicon -->

    <!-- Entypo font stylesheet -->

    {% load staticfiles %}

    <link href="{% static 'website/assets/css/icons.css' %}" rel="stylesheet"/>
    <!-- jQueryUI -->
    {% comment %}<link href="{% static 'website/assets/css/sprflat-theme/jquery.ui.all.css' %}" rel="stylesheet" />
       {% endcomment %} <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="{% static 'website/assets/css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="{% static 'website/assets/css/plugins.css' %}" rel="stylesheet"/>
    <!-- Main stylesheets (template main css file) -->
    <link href="{% static 'website/assets/css/main.css' %}" rel="stylesheet"/>
    <!-- Custom stylesheets ( Put your own changes here ) -->

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/s/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,b-html5-1.1.0,b-print-1.1.0,cr-1.3.0,fh-3.1.0,se-1.1.0/datatables.min.css"/>


</head>
<body>

<!-- Page container -->
<div id="header">
    <div class="container-fluid">
        <div class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'organiser_home' %}">
                    <img class="text-logo" style="margin-top: -8px; margin-left:2px;max-width:100%;max-height:100%; "
                         src="{% static 'website/assets/img/icon.png' %}" alt="Icon"/>
                    <span class="text-slogan">i</span>
                    <span
                        class="text-logo">Orienteering</span>
                </a>
            </div>
            <nav class="top-nav" role="navigation">
                <ul class="nav navbar-nav pull-left">
                    <li id="toggle-sidebar-li">
                        <a href="#" id="toggle-sidebar"><i class="en-arrow-left2"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="full-screen"><i class="fa-fullscreen"></i></a>
                    </li>

                    <li>
                        <a href="{% url 'organiser_home' %}"><i class="en-house"></i></a>
                    </li>


                </ul>


                <ul class="nav navbar-nav pull-right">


                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            {{ user.username }}</a>
                        <ul class="dropdown-menu right" role="menu">
                            <li><a href="{% url 'edit_profile' %}"><i class="st-user"></i> Profile</a>
                            </li>
                            <li><a href="{% url 'logout_user' %}"><i class="im-exit"></i> Logout</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>

    </div>
    <!-- Start .header-inner -->
</div>
<!-- End #header -->
<!-- Start #sidebar -->
<div id="sidebar">
    <!-- Start .sidebar-inner -->
    <div class="sidebar-inner">
        <!-- Start #sideNav -->
        <ul id="sideNav" class="nav nav-pills nav-stacked">
            <li class="heading">
                <h3 {% comment %}class="page-header"{% endcomment %}>{{ user.username }}</h3>
            <li><a href="{% url 'main_area_screen' area_pk=this_area.id %}"><i class="icon-gauge"></i><span
                    class="title">Area Dashboard</span></a></li>
            <li><a href="{% url 'organiser_area_results' area_pk=this_area.id %}"><i class="icon-gauge"></i><span class="title">Results</span></a>
            </li>
            <li><a href="{% url 'area_maps' area_pk=this_area.id %}"><i class="icon-gauge"></i><span class="title">Maps</span></a>
            </li>

            {% comment %}<li><a href="{% url 'courses' race_pk=this_race.id %}">Preferences<i class="fa-cogs"></i></a>
                    </li>{% endcomment %}


        </ul>
        <!-- End #sideNav -->

    </div>
    <!-- End .sidebar-inner -->
</div>
<!-- End #sidebar -->
<!-- Start #right-sidebar -->
{#        <div id="right-sidebar" class="hide-sidebar">#}
{#            <!-- Start .sidebar-inner -->#}
{#            <div class="sidebar-inner">#}
{#                <div class="sidebar-panel mt0">#}
{#                    <div class="sidebar-panel-content fullwidth pt0">#}
{#                        <div class="chat-user-list">#}
{#                            <form class="form-horizontal chat-search" role="form">#}
{#                                <div class="form-group">#}
{#                                    <input type="text" class="form-control" placeholder="Search for user...">#}
{#                                    <button type="submit"><i class="ec-search s16"></i>#}
{#                                    </button>#}
{#                                </div>#}
{#                                <!-- End .form-group  -->#}
{#                            </form>#}
{##}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- End .sidebar-inner -->#}
{#        </div>#}
<!-- End #right-sidebar -->
<!-- Start #content -->
<div id="content">
    <!-- Start .content-wrapper -->
    <div class="content-wrapper">
        <div class="row">
            <!-- Start .row -->
            <!-- Start .page-header -->
            <div class="col-lg-12 heading">
                <h1 class="page-header">{% block page_title %} {% endblock %}</h1>

            </div>
            <!-- End .page-header -->
        </div>
        <!-- End .row -->
        <div class="outlet">
            <!-- Start .outlet -->
            <!-- Page start here ( usual with .row ) -->

            {% block content %}

            {% endblock %}
            <!-- Page End here -->
        </div>
        <!-- End .outlet -->
    </div>
    <!-- End .content-wrapper -->
    <div class="clearfix"></div>
</div>

<script src="{% static 'website/assets/plugins/core/pace/pace.min.js' %}"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    window.jQuery || document.write('<script src="{% static 'website/assets/js/libs/jquery-2.1.1.min.js' %}">\x3C/script>')
</script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
    window.jQuery || document.write('<script src="{% static 'website/assets/js/libs/jquery-ui-1.10.4.min.js' %}">\x3C/script>')
</script>
<!--[if lt IE 9]>
  <script type="text/javascript" src="assets/js/libs/excanvas.min.js"></script>
  <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script type="text/javascript" src="assets/js/libs/respond.min.js"></script>
<![endif]-->
<!-- build:js assets/js/pages/dashboard.js -->
<!-- Bootstrap plugins -->
<script src="{% static 'website/assets/js/bootstrap/bootstrap.js' %}"></script>
<!-- Core plugins ( not remove ever) -->
<!-- Handle responsive view functions -->
<script src="{% static 'website/assets/js/basic_libraries/jRespond.min.js' %}"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="{% static 'website/assets/plugins/core/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'website/assets/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js' %}"></script>
<!-- Resize text area in most pages -->
<script src="{% static 'website/assets/plugins/forms/autosize/jquery.autosize.js' %}"></script>
<!-- Proivde quick search for many widgets -->
<script src="{% static 'website/assets/plugins/core/quicksearch/jquery.quicksearch.js' %}"></script>
{% comment %}<!-- Bootbox confirm dialog for reset postion on panels -->
<script src="{% static 'website/assets/plugins/ui/bootbox/bootbox.js' %}"></script>
{% endcomment %}
<script src="{% static 'website/assets/plugins/misc/highlight/highlight.pack.js' %}"></script>


<script src="{% static 'website/assets/js/basic_libraries/app.js' %}"></script>

<script src="{% static 'website/assets/js/basic_libraries/jquery.sprFlat.js' %}"></script>


<script src="{% static 'website/assets/js/basic_libraries/jquery.gritter.min.js' %}"></script>

<!-- these are the files required by app.js -->


<script src="{% static 'website/assets/plugins/misc/countTo/jquery.countTo.js' %}"></script>
<script src="{% static 'website/assets/plugins/forms/icheck/jquery.icheck.js' %}"></script>
<script src="{% static 'website/assets/plugins/forms/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'website/assets/plugins/forms/tags/jquery.tagsinput.min.js' %}"></script>

<script src="{% static 'website/assets/js/basic_libraries/date-en-GB.js' %}"></script>

<!-- datatables link -->

<script type="text/javascript"
        src="https://cdn.datatables.net/s/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,b-html5-1.1.0,b-print-1.1.0,cr-1.3.0,fh-3.1.0,se-1.1.0/datatables.min.js"></script>


<!-- static varibles link -->
<script language="javascript">

    var STATIC_URL = "{{ STATIC_URL|escapejs }}";
    var STATIC_URL_FOR_UNIVERSAL_FUNCTIONS = STATIC_URL + "website/assets/js/my_pages/universal_functions.js";

</script>
{% block plugins %} {% endblock %}


</body>
</html>