{% extends "public/registration_login/register_login_base.html" %}

{% block content %}
 <div class="panel-heading white-bg">
                                    <h2>Login</h2>
                                </div>

                       <div class="panel-body">

                            {% load crispy_forms_tags %}


                            {% crispy loginForm %}


                    </div>





{% endblock %}


{% block links %}

<p class="text-center">Not Registered?</p>


    <div class="row">
        <div class="col-lg-6 col-md-6">
    <p class="text-center"><a href="{% url 'register_user_competitor'%}">Register as a Competitor</a></p>

        </div>

    <div class="col-lg-6 col-md-6">
    <p class="text-center"><a href="{% url 'register_user_organiser'%}">Register as a Organiser</a></p>

        </div>
    </div>

<p class="text-center"><a href="#">Forgot your password?</a></p>


                    {% endblock %}







