{% extends "public/registration_login/register_login_base.html" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 col-md-12">

    <p class="text-center"><a href="{% url 'login_user'%}">Already Registered?</a></p>

    </div>

    </div>

{% load crispy_forms_tags %}

       <div class="panel-heading white-bg">
                                    <h2>Register as a Organiser</h2>
                                </div>
                                <div class="panel-body">




{% crispy register_form %}
    </div>


{% endblock %}


{% block links %}

<div class="row">
        <div class="col-lg-12 col-md-12">

    <p class="text-center"><a href="{% url 'register_user_competitor'%}">Register as a Competitor</a></p>

     </div>

    </div>


                    {% endblock %}
