{% extends "public/registration_login/register_login_base.html" %}

{% block content %}

    </br>
    <p class="text-center"><a href="{% url 'login_user'%}">Already Registered?</a></p>

{% load crispy_forms_tags %}


                                <!-- Start .panel -->
                                <div class="panel-heading white-bg">
                                    <h2>Register as a Competitor</h2>
                                </div>
                                <div class="panel-body">




{% crispy register_form %}
    </div>

{% endblock %}


{% block links %}

    
    
    <p class="text-center"><a href="{% url 'register_user_organiser'%}">Register as a Organiser</a></p>
</br>
                    {% endblock %}