﻿<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="iOrienteering.  Timing and organisation for permanent Orienteering courses">
<meta name="keywords" content="Orienteering.  Permanent. Timing.  Organisation">
<title>iOrienteering | Register Organiser </title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" />

    {% load staticfiles %}

<link href="{% static 'website/assets/css/icons.css' %}" rel="stylesheet" />
        <!-- jQueryUI -->
        <link href="{% static 'website/assets/css/sprflat-theme/jquery.ui.all.css' %}" rel="stylesheet" />
        <!-- Bootstrap stylesheets (included template modifications) -->
        <link href="{% static 'website/assets/css/bootstrap.css' %}" rel="stylesheet" />
        <!-- Plugins stylesheets (all plugin custom css) -->
        <link href="{% static 'website/assets/css/plugins.css' %}" rel="stylesheet" />
        <!-- Main stylesheets (template main css file) -->
        <link href="{% static 'website/assets/css/main.css' %}" rel="stylesheet"/>
        <!-- Custom stylesheets ( Put your own changes here ) -->
        <link href="{% static 'website/assets/css/custom.css' %}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="{% static 'website/assets/js/basic_libraries/html5shiv.min.js' %}"></script>
      <script src="{% static 'website/assets/js/basic_libraries/respond.min.js' %}></script>
<![endif]-->

</head>

<body class="login-page">
        <!-- Start #login -->
        <div id="login" class="animated bounceIn">
            {% comment %}<img id="logo" src="assets/img/logo.png" alt="sprFlat Logo">{% endcomment %}




            <div style="margin-bottom: 10px; margin-left: 240px">
                <a  href="{% url 'landing'%}">

            <img class="text-logo" style="margin-top: -8px; margin-left:2px;max-width:100%;max-height:80px; " src="{% static 'website/assets/img/icon.png' %}" alt="Icon" />

            <span style="font-weight: bold;
            font-family: 'Droid Sans';
            font-size: 24px;

            margin-top: 15px;
            display: inline-block;"
            >
<span style="color: #FFFFFF;">i</span>
            <span style="color: #124363;">Orienteering</span>


            </span>
</a>
            </div>


            <div class="panel panel-white toggle">

                {% block content %}

                    {% endblock %}


{% block links %}

                    {% endblock %}
                                <!-- Start .panel -->



            </div>

            <!-- End #.login-wrapper -->
        </div>
        <!-- End #login -->



        <!-- Init plugins olny for this page -->
        {% comment %}<script src="assets/js/pages/login.js"></script>{% endcomment %}
        <!-- endbuild -->

<!--Load JQuery-->
<script src="{% static 'website/assets/plugins/core/pace/pace.min.js' %}"></script>
        <!-- Important javascript libs(put in all pages) -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script>
        window.jQuery || document.write('<script src="{% static 'website/assets/js/libs/jquery-2.1.1.min.js' %}">\x3C/script>')
        </script>
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script>
        window.jQuery || document.write('<script src="{% static 'website/assets/js/libs/jquery-ui-1.10.4.min.js' %}">\x3C/script>')
        </script>
        <!--[if lt IE 9]>
  <script type="text/javascript" src="assets/js/libs/excanvas.min.js"></script>
  <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script type="text/javascript" src="assets/js/libs/respond.min.js"></script>
<![endif]-->

        <script src="{% static 'website/assets/js/basic_libraries/jRespond.min.js' %}"></script>

        <!-- build:js assets/js/pages/login.js -->
        <!-- Bootstrap plugins -->
        <script src="{% static 'website/assets/js/bootstrap/bootstrap.js' %}"></script>
        <!-- Form plugins -->
        <script src="{% static 'website/assets/plugins/forms/icheck/jquery.icheck.js' %}"></script>
        <script src="{% static 'website/assets/plugins/forms/validation/jquery.validate.js' %}"></script>
        <script src="{% static 'website/assets/plugins/forms/validation/additional-methods.min.js' %}"></script>
</body>
</html>
