{% extends "organiser/base/organiser_area_base.html" %}

{% block page_title %}

    <i class="fa-flag-checkered color-gray"></i>Results for {{ this_area.area_name }}

{% endblock %}

{% block content %}

    {% load crispy_forms_tags %}


    <div id="main_page_content">



    <div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#standard_panel" aria-controls="standard_panel" role="tab"
                                                  data-toggle="tab">Standard Courses</a></li>
        <li role="presentation"><a href="#score_panel" aria-controls="score_panel" role="tab"
                                   data-toggle="tab">Score Courses</a></li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="standard_panel">
        <div class="row">

            {% crispy standard_filter_form %}


        </div>

        <br/>

        <div class="row">
            <div class="col-lg-12 col-md-12">


                <!-- col-lg-6 start here -->
                <div class="panel panel-default plain">
                    <!-- Start .panel -->
                    <div class="panel-heading white-bg">
                        {% comment %}<h4 class="panel-title">Times</h4>{% endcomment %}
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped" id="standard_results_table" width="100%">

                        </table>
                    </div>
                </div>
                <!-- End .panel -->
            </div>

        </div>
    </div>
<div role="tabpanel" class="tab-pane active" id="score_panel">
        <div class="row">

            {% crispy score_filter_form %}


        </div>

        <br/>

        <div class="row">
            <div class="col-lg-12 col-md-12">


                <!-- col-lg-6 start here -->
                <div class="panel panel-default plain">
                    <!-- Start .panel -->
                    <div class="panel-heading white-bg">
                        {% comment %}<h4 class="panel-title">Times</h4>{% endcomment %}
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped" id="score_results_table" width="100%">

                        </table>
                    </div>
                </div>
                <!-- End .panel -->
            </div>

        </div>
    </div>

</div>
</div>
    </div>
    </div>



    <div id="viewEditSplitModal" class="modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Splits</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered table-striped" id="splits_table" width="100%">

                    </table>

                </div>

            </div>

        </div>
    </div>


{% endblock %}

{% block plugins %}


    <script language="javascript"> var AREA_NAME = "{{ this_area.area_name|escapejs }}";</script>

    <script language="javascript"> var AREA_PK = "{{ this_area.id|escapejs }}";</script>


    {% load static %}


    <script src="{% static 'website/assets/js/my_pages/area_results_script.js' %}"></script>


    <script src="{% static 'website/assets/js/basic_libraries/jquery.sumoselect.min.js' %}"></script>

    <link href="{% static 'website/assets/css/sumoselect.css' %}" rel="stylesheet"/>

    <link href="{% static 'website/assets/css/custom_results.css' %}" rel="stylesheet"/>


{% endblock %}




