{% extends "organiser/base/organiser_home_base.html" %}


{% block page_title %}{{ this_user.username }} {% endblock %}

{% block content %}


{% if info_message %}
        <div class="row">
            <div class="col-lg-12">
                <!-- col-lg-6 start here -->
                <div class="panel panel-info">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h3 class="panel-title">Information:</h3>
                    </div>
                    <div class="panel-body">
                        {{ info_message }}
                    </div>
                </div>
            </div>
        </div>
        <br/>

    {% endif %}

    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="{% url 'new_area' %}">
                <button type="button" class="btn btn-lg btn-primary"><i class="fa-plus"></i> New Area</button>
            </a>
        </div>
    </div>

    <br/>

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


            <!-- Tab panes -->


                    <div class="row">
                        <div class="col-lg-9 col-md-9">
                            <!-- col-lg-6 start here -->
                            <div class="panel panel-default plain">
                                <!-- Start .panel -->
                                <div class="panel-heading white-bg">
                                    <h4 class="panel-title">Areas</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="per60">
                                                Area Name
                                            </th>

                                            <th class="per10"></th>


                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for area in areas %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'main_area_screen' area_pk=area.id %}"> {{ area.area_name }}</a>
                                                </td>




                                                <td><a href="{% url 'edit_area' area_pk=area.id %}">
                                                    <button type="button" class="btn btn-xs btn-warning">Edit</button>
                                                </a></td>



                                            </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>




                </div>
        </div>
    </div>
{% endblock %}