
{% extends "organiser/base/organiser_area_base.html" %}




{% block page_title %}

    <i class="fa-cogs color-gray" ></i>Editing Course - {{ this_course.course_name }}

{% endblock %}


{% block content %}

    {% load crispy_forms_tags %}

    <div class="row">
        <!-- Start .row -->
        <div class="col-lg-12">
            <!-- Start col-lg-12 -->

            <div class="panel panel-default plain">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h3 class="panel-title">Enter new course details: </h3>
                </div>
                <div class="panel-body">

                    <form id="course_form" class="form-horizontal group-border hover-stripped" action="{% url 'edit_course' area_pk=this_area.id course_pk=this_course.id%}" method="post">

                        {% crispy courseForm %}

                    <div id="div_id_checkpoint_order" class="form-group hidden">
                        <label for="id_checkpoint_order" class="control-label col-lg-2 col-md-2 col-sm-12 control-label requiredField">
				Checkpoint order<span class="asteriskField">*</span></label>
                        <div class="controls col-lg-6 col-md-6"><input class="textinput textInput form-control" id="id_checkpoint_order" maxlength="900" name="checkpoint_order" type="text" value="000111101FFF">
                    </div>
                    </div>

                        <div id="div_id_checkpoint_order_buttons" class="form-group">
                            <label id ="Checkpoints_label" for="id_checkpoint_order_buttons" class="control-label col-lg-2 col-md-2 col-sm-12 control-label requiredField">
                                Checkpoint order
                                <span class="asteriskField">*</span></label>
                            <div class="controls col-lg-6 col-md-6">

                                <ul id="checkpoint_order_list">

                                    {%for checkpoint in this_course.orderedCourse%}

                                        {% if checkpoint.is_start %}<li><span class="label label-success mr10 mb10">{{ checkpoint.checkpoint_name }}</span></li>
                                        {% elif checkpoint.is_finish %}<li><span class="label label-danger mr10 mb10">{{ checkpoint.checkpoint_name }}</span></li>
                                        {% else %} <li><span class="label label-info mr10 mb10">{{ checkpoint.checkpoint_name }}</span></li>

                                        {% endif %}

                                    {% endfor %}


                                </ul>

                            </div>
                        </div>



                        <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit">


                    </form>
                </div>

            </div>
            <!-- End .panel -->
        </div>
        <!-- End col-lg-12 -->
    </div>



{% endblock %}

{% block plugins %}

    {% load js %}


<script type="text/javascript">
    var dictionary_of_course_name_ID = {{ dictionary_of_course_name_ID | js }};
    var dictionary_of_course_name_type ={{ dictionary_of_course_name_type |js }}
</script>


    {% load static %}

<script src="{% static 'website/assets/js/basic_libraries/Sortable.js' %}"></script>
    <script src="{% static 'website/assets/js/my_pages/edit_course_script.js' %}"></script>


 <link href="{% static 'website/assets/css/custom_edit_course.css' %}" rel="stylesheet" />
    <link href="{% static 'website/assets/css/my_pages/new_area_css.css' %}" rel="stylesheet" />



{% endblock %}
