{% extends "organiser/base/organiser_area_base.html" %}

{% block page_title %}

<i class="fa-map-marker color-gray" ></i>Editing Control - {{ this_checkpoint.checkpoint_name }}

{% endblock %}


{% block content %}

    {% if course_error %}
        <div class="row">
        <div class="col-lg-12">
            <!-- col-lg-6 start here -->
            <div class="panel panel-danger">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h3 class="panel-title">Error</h3>
                </div>
                <div class="panel-body">
                    {{ course_error }}
                </div>
            </div>
        </div>
        </div>
        <br/>

    {% endif %}

{% load crispy_forms_tags %}

 <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-12">
                            <!-- Start col-lg-12 -->

                            <div class="panel panel-default plain">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h3 class="panel-title">Enter new control details: </h3>
                                </div>
                                <div class="panel-body">

                                {% crispy checkpointForm %}


                                </div>

                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- End col-lg-12 -->
 </div>
                    <!-- End .row -->
{% endblock %}

{% block plugins %}

    {% load staticfiles %}

    <link href="{% static 'website/assets/css/my_pages/new_area_css.css' %}" rel="stylesheet" />

{% endblock %}



