

{% extends "organiser/base/organiser_area_base.html" %}


{% block page_title %}{{ this_area.area_name }} - Dashboard{% endblock %}

{% block content %}
{% if error_message %}
        <div class="row">
        <div class="col-lg-12">
            <!-- col-lg-6 start here -->
            <div class="panel panel-danger">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h3 class="panel-title">ERROR</h3>
                </div>
                <div class="panel-body">
                    This checkpoint is currently part of 1 or more courses - please remove it from these prior to delete
                </div>
            </div>
        </div>
        </div>
        <br/>

    {% endif %}



<div class="row">

<div class="col-lg-6 col-md-6">
                        <!-- Start .row -->

                            <!-- col-lg-6 start here -->

                            <div class="panel panel-dark">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">Courses</h4>
<div class="panel-heading-content" style="float: right">

    {% if can_create_course %}<a href="{% url 'new_course' area_pk=this_area.id %}" class="btn btn-default btn-xs" style="float: right">New Course</a>{% else %}<button disabled="disabled" class="btn btn-default btn-xs" style="float: right">Add controls to create course</button>{% endif %}

                                    </div>
                                </div>
                                <div class="panel-body">

                                    <div class="slimscroll_lg_panel">

                                    <table class="table table-striped" id="course_table" width="100%" style="table-layout: fixed" >

                                        <thead>
                                        <tr>
                                             <th class="per15"></th>
                                            <th class="per40">
                                                Name
                                            </th>

                                            <th class="per20">
                                                Distance (km)
                                            </th>
                                            <th class="per10">
                                                Score
                                            </th>
                                            <th class="per10"></th>

                                            <th class="per10"></th>



                                        </tr>
                                        </thead>
{% for course in courses %}
                                            <tr>
                                            <td><a href="{% url 'course_qr_codes' area_pk=this_area.id course_pk=course.id%}">
                                                    <button type="button" id="{{ course.id }}" class="btn btn-xs btn-success">QR Codes</button>
                                                </a></td>
                                                <td style="word-wrap: break-word">
                                                    {{ course.course_name }}
                                                </td>

                                                <td>
                                                    {% if course.distance %}{{ course.distance }}{% endif %}
                                                </td>

<td>
                                                    {% if course.is_score %}<i class="fa-ok-sign"></i>{% endif %}
                                                </td>



                                                <td> {% if course.fixed %}<button disabled="disabled" type="button" class="btn btn-xs btn-warning">Edit</button>{% else %}<a href="{% url 'edit_course' area_pk=this_area.id course_pk=course.id%}">
                                                    <button type="button" class="btn btn-xs btn-warning"><i class="fa-pencil"></i></button>
                                                </a>{% endif %}</td>

                                            <td>{% if course.fixed %}<button disabled="disabled" type="button" class="btn btn-xs btn-danger">Delete</button>{% else %}<a href="{% url 'delete_course' area_pk=this_area.id course_pk=course.id%}">
                                                   <button type="button" class="btn btn-xs btn-danger"><i class="fa-remove"></i></button>
                                                </a>{% endif %}</td>



                                            </tr>
                                        {% endfor %}


                                        </tbody>


                                    </table>

</div>
                                </div>
                            </div>
                            <!-- End .panel -->




</div>
<div class="col-lg-6 col-md-6">
                            <!-- col-lg-6 start here -->

                            <div class="panel panel-purple">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">Controls</h4>
<div class="panel-heading-content" style="float: right">
                                        <a href="{% url 'new_checkpoint' area_pk=this_area.id %}" class="btn btn-default btn-xs" style="float: right">New Control</a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                     <div class="slimscroll_lg_panel">

                                    <table class="table table-striped" id="checkpoint_table" width="100%">

                                        <thead>
                        <tr>
                            <th class="per30">
                                Name
                            </th>
                            <th class="per10">ID</th>
                            <th class="per9">Start</th>
                            <th class="per9">Finish</th>
                            <th class="per9">Points</th>
                            <th class="per10"></th>
                            <th class="per10"></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for checkpoint in checkpoints %}
                            <tr>
                                <td>{{ checkpoint.checkpoint_name}}</td>
                                <td>{{ checkpoint.checkpoint_ID}}</td>
                                <td>{% if checkpoint.is_start %}<i class="fa-ok-sign"></i>{% endif %}</td>
                                <td>{% if checkpoint.is_finish %}<i class="fa-ok-sign"></i>{% endif %}</td>
                                <td>{% if not checkpoint.is_pre_start_check %}{% if not checkpoint.is_start %}{% if not checkpoint.is_finish %}{{ checkpoint.points_value}}{% endif %}{% endif %}{% endif %}</td>
                                <td><a href="{% url 'edit_checkpoint' area_pk=this_area.id checkpoint_pk=checkpoint.id%}"><button type="button" class="btn btn-xs btn-warning">Edit</button></a></td>
                                <td><a href="{% url 'delete_checkpoint' area_pk=this_area.id checkpoint_pk=checkpoint.id%}"><button type="button" class="btn btn-xs btn-danger">Delete</button></a></td>
                            </tr>
                        {% endfor %}

                                    </table>

                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>

</div>

</div>



<div id="display_map_modal" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal_map_name"></h4>
      </div>
      <div class="modal-body">



      </div>

    </div>

  </div>
</div>
{% endblock %}

{% block plugins %}

    {% load staticfiles %}

<script language="javascript"> var AREA_PK= "{{ this_area.id|escapejs }}";</script>

<script src="{% static 'website/assets/js/my_pages/main_area_screen_js.js' %}"></script>




{% endblock %}