{% extends "organiser/base/organiser_area_base.html" %}




{% block page_title %}

    <i class="fa-cogs color-gray" ></i>Enter course details for {{ this_area.area_name }}

{% endblock %}


{% block content %}

    {% load crispy_forms_tags %}

    <div class="row">
        <!-- Start .row -->
        <div class="col-lg-6 col-md-6">
            <!-- Start col-lg-12 -->

            <div class="panel panel-default plain">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h3 class="panel-title">Enter course details: </h3>
                </div>
                <div class="panel-body">

                        {% crispy courseForm %}



                </div>

            </div>
            <!-- End .panel -->
        </div>

    <div class="col-lg-3 col-md-3">

            <div class="panel-default plain">

    <div class="panel-heading">
                    <h3 class="panel-title">Controls (click to add) </h3>
                </div>
                <div class="panel-body text-center" id="checkpoints-available">


                        {% for cp in checkpoint_list %}

                            <button type="button" class="btn btn-primary btn-alt cp_avail_button" id="{{cp.checkpoint_ID}}"> {{ cp.checkpoint_name}} <div class="cp_counter" counter-id="{{cp.checkpoint_ID}}" style="font-weight: bold; color: #0b0b0b">  </div></button>


                        {% endfor %}




             </div>

</div>
            </div>

        <div class="col-lg-3 col-md-3">

            <div class="panel panel-default plain">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h3 class="panel-title">Control order </h3>
                </div>
                <div class="panel-body">

<ul id="checkpoint_order_list">

                                </ul>
        </div>
                </div>
            </div>
        <!-- End col-lg-12 -->
    </div>



{% endblock %}

{% block plugins %}

    {% load js %}

<script type="text/javascript">

    var dictionary_of_course_ID_type ={{ dictionary_of_course_ID_type |js }};
    var dictionary_of_course_ID_name ={{ dictionary_of_course_ID_name |js }};

    {% if checkpoint_order_string %} var CHECKPOINT_ORDER_STRING = "{{ checkpoint_order_string|escapejs}}"{% else %}var CHECKPOINT_ORDER_STRING = null {% endif %};


</script>


    {% load static %}

    <script src="{% static 'website/assets/js/basic_libraries/Sortable.js' %}"></script>
    <script src="{% static 'website/assets/js/my_pages/edit_course_script.js' %}"></script>


 <link href="{% static 'website/assets/css/custom_edit_course.css' %}" rel="stylesheet" />
    <link href="{% static 'website/assets/css/my_pages/new_course_css.css' %}" rel="stylesheet" />


{% endblock %}



{% comment %}
<div id="div_id_checkpoint_order_buttons" class="form-group">
                            <label id ="Checkpoints_label" for="id_checkpoint_order_buttons" class="control-label col-lg-2 col-md-2 col-sm-12 control-label requiredField">
                                Control order
                                <span class="asteriskField">*</span></label>
                            <div class="controls col-lg-5 col-md-5">

                                <ul id="checkpoint_order_list">

                                </ul>

                            </div>


                        </div>{% endcomment %}
