{% extends "organiser/base/organiser_home_base.html" %}



{% block page_title %}New Area for {{ this_user.username }} {% endblock %}

{% block content %}

    <div class="row">

    <div class="col-lg-7 col-md-7">

    {% load crispy_forms_tags %}




        {% crispy new_area_form %}

</div>
<div class="col-lg-5 col-md-5">

    <div class="panel panel-default plain">
                                <!-- Start .panel -->
                                <div class="panel-heading ">
                                    <h4 class="panel-title">Choose location (double click on the location to choose)</h4>
                                </div>
                                <div class="panel-body">



                                    <div id="area_location_map" style="width:100%;height:380px;"></div>

                                </div>
                            </div>
</div>
</div>




{% endblock %}

{% block plugins %}

    {% load staticfiles %}

<link href="{% static 'website/assets/css/my_pages/new_area_css.css' %}" rel="stylesheet" />

<script language="javascript"> var USER_AREAS = "{{ json_user_areas|escapejs }}";</script>
    <script language="javascript"> var OTHER_AREAS = "{{ json_other_areas|escapejs }}";</script>

<script src="{% static 'website/assets/js/my_pages/new_area_js.js' %}"></script>






{% endblock %}