{% extends "organiser/base/organiser_area_base.html" %}

{% block page_title %}

<i class="fa-compass color-gray" ></i>New Map for {{ this_area.area_name }}

{% endblock %}


{% block content %}

{% load crispy_forms_tags %}



 <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-12">
                            <!-- Start col-lg-12 -->

                            <div class="panel panel-default plain">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h3 class="panel-title">Enter new map details: </h3>
                                </div>
                                <div class="panel-body">

                                {% crispy mapForm %}
                                </div>

                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- End col-lg-12 -->
 </div>
                    <!-- End .row -->
{% endblock %}

{% block plugins %}

    {% load staticfiles %}

    <link href="{% static 'website/assets/css/my_pages/new_area_css.css' %}" rel="stylesheet" />


{% endblock %}

