<div class="col-lg-12 col-md-12">
                            <!-- col-lg-6 start here -->

                            <div class="panel panel-info">
                                <!-- Start .panel -->
                                <div class="panel-heading" >
                                    <h4 class="panel-title">Maps</h4>
<div class="panel-heading-content" style="float: right">
                                        <a href="{% url 'new_map' area_pk=this_area.id %}" class="btn btn-default btn-xs" style="float: right">Add Map</a>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="slimscroll_sm_panel">


                                    <table class="table table-striped" id="course_table" width="100%">

                                        <thead>
                                        <tr>

                                            <th class="per30">
                                                Map Name
                                            </th>

                                            <th class="per30">
                                                Cost
                                            </th>

                                            <th class="per10"></th>

                                            <th class="per10"></th>



                                        </tr>
                                        </thead>
{% for map in maps %}
                                            <tr>

                                                <td>
                                                    {{ map.map_name }}
                                                </td>

                                                <td>
                                                    {{ map.cost }}
                                                </td>


                                                <td>
                                                    <button type="button" id="map_id_{{ map.id }}" class="btn btn-xs btn-warning">View Map</button>
                                                </td>

                                            <td><a href="{% url 'delete_map' area_pk=this_area.id map_pk=map.id%}">
                                                    <button type="button" class="btn btn-xs btn-danger">Delete</button>
                                                </a></td>



                                            </tr>
                                        {% endfor %}


                                        </tbody>


                                    </table>


</div>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>