{% extends "organiser/base/organiser_home_base.html" %}

{% block page_title %} {{ this_user.username }}{% endblock %}

		{% block content %}

<div class="row">

<div class="col-lg-12 col-md-12">


<div class="col-lg-4 col-md-4">
                    <div class="panel panel-primary" >
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">User Stats</h4>
                                    </div>

                                <div class="panel-body">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="tile-stats b brall mb25 dark-bg">
                                            <a href="{% url 'credit'%}">
                                                <div class="tile-stats-icon"><i class="fa-gbp color-white" ></i>
                                                </div>
                                                <div class="tile-stats-content">
                                                    <div class="tile-stats-number color-white">£ {{ this_user_profile.display_credit }}</div>
                                                     <div class="tile-stats-text color-white">Credit</div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="tile-stats b brall mb25 blue-bg">
                                            <a href="{% url 'areas'%}">
                                                <div class="tile-stats-icon"><i class="fa-flag-checkered color-white" ></i>
                                                </div>
                                                <div class="tile-stats-content">
                                                    <div class="tile-stats-number color-white">{{ this_user.number_of_areas }}</div>
                                                     <div class="tile-stats-text color-white">Areas</div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </div>
                                    </div>




                                </div>
                    </div>


</div>


        <div class="col-lg-4 col-md-4">
            <!-- col-lg-6 start here -->
            <div class="panel panel-warning">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h3 class="panel-title">Important Messages:</h3>
                </div>
                <div class="panel-body">

                    <dl>

                    {% for warning_message in warning_messages %}

                        <li>
                        <h4 class="list-group-item-heading">{{ warning_message.message_title }}  -  {{ warning_message.message_date }}</h4>

                        <p class="list-group-item-text">
                                        {{ warning_message.message_text }}
                                    </p>
                        </li>
                        <br/>
                    {% endfor %}

                    </dl>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-4">
            <!-- col-lg-6 start here -->
            <div class="panel panel-info">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h3 class="panel-title">Information:</h3>
                </div>
                <div class="panel-body">

                    <dl>

                    {% for info_message in info_messages %}

                        <li>
                        <h4 class="list-group-item-heading">{{ info_message.message_title }}  -  {{ info_message.message_date }} </h4>

                        <p class="list-group-item-text">
                                        {{ info_message.message_text }}
                                    </p>
                        </li>
                    {% endfor %}

                    </dl>
                </div>
            </div>



</div>





</div>

 </div>

                    {% endblock %}
